/**
 * Configuration
 */
/**
 * ex. with $size-fix-px = 10
 *    fixList(padding, 3)			=> padding: 30px
 *    fixList(padding, 3, 5)		=> padding: 30px 50px
 *    fixList(margin, 3, 5, 7)		=> margin: 30px 50px 70px
 *    fixList(margin, 3, 5, 7, 9)	=> margin: 30px 50px 70px 90px
 */
/**
 * ex. with $size-fix-px = 10
 *    fixSize(auto, 5)	=> height: 50px
 *    fixSize(3, auto)	=> width: 30px
 *    fixSize(3, 5)		=> width: 30px; height: 50px
 */
/**
 * Absolute positioning
 */
/**
 * Stretch horizontally
 */
/**
 * Stretch vertically
 */
/**
 * Stretch in both directions
 */
/**
 * Reset Webkit margin
 */
/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Light
 */
/**
 * Options
 */
/**
 * Consistent
 */
.plugbot-taskbar {
  z-index: 100;
  position: fixed;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 54px;
  height: 100%;
  background: #1c1f25;
}
.plugbot-taskbar .content {
  float: left;
  width: 120px;
  height: 100%;
}
.plugbot-taskbar .handle {
  float: left;
  width: 12px;
  height: 100%;
  background: #323742;
}
.plugbot-taskbar .container {
  list-style-type: none;
  margin: 0px;
  padding: 16px 0px 0px 20px;
}
.plugbot-taskbar .container .task {
  cursor: pointer;
  padding: 8px;
  font-size: 15px;
}

.plugbot-taskbar-hidden {
  visibility: hidden;
}

/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Light
 */
/**
 * Scheme names
 */
/**
 * Text - Floated window
 */
/**
 * Border - Floated window
 */
/**
 * Border - Userlist
 */
/**
 * Background - Floated window
 */
/**
 * Shadow - Floated window
 */
/**
 * Plug.DJ fonts
 */
/**
 * Dynamic
 */
.scheme-default-plugbot-floated-window {
  background-color: #0a0a0a;
  border-color: #323742 !important;
}
.scheme-default-plugbot-floated-window .header {
  color: white;
  background-color: #323742;
  border-bottom-color: #7878a5 !important;
}
.scheme-default-plugbot-floated-window .body {
  border-color: #8f8f8f #292929 !important;
}

/**
 * Consistent
 */
.plugbot-floated-window {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid;
  border-radius: 4px;
}
.plugbot-floated-window .header {
  overflow: hidden;
  padding: 2.4px 8px;
  border-bottom: 1px solid;
  white-space: nowrap;
  cursor: move;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.plugbot-floated-window .title {
  float: left;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.plugbot-floated-window .control-box {
  float: right;
  margin-left: 8px;
}
.plugbot-floated-window .control-box button {
  width: 1.6em;
  height: 1.2em;
  margin-left: 3px;
}
.plugbot-floated-window .body {
  border: 2px solid;
  overflow: hidden;
}

.plugbot-floated-window-hidden {
  visibility: hidden;
}

.plugbot-table-layout > div {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.plugbot-table-layout > .row {
  width: 100%;
}
.plugbot-table-layout > .col {
  height: 100%;
}

/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Light
 */
.plugbot-main-ui {
  padding: 8px 8px 16px 8px;
  background: #0a0a0a;
}
.plugbot-main-ui .item {
  margin: 0px;
  padding: 8px;
  color: red;
  cursor: pointer;
  font-variant: small-caps;
  font-size: 15px;
}
.plugbot-main-ui .enabled {
  color: lawngreen !important;
}

/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Light
 */
/**
 * Scheme names
 */
/**
 * Text - Floated window
 */
/**
 * Border - Floated window
 */
/**
 * Border - Userlist
 */
/**
 * Background - Floated window
 */
/**
 * Shadow - Floated window
 */
/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Light
 */
/**
 * Dynamic
 */
.scheme-default-plugbot-userlist .head {
  color: #42a6dc;
}
.scheme-default-plugbot-userlist .wrap-users {
  border-color: #292929 !important;
}

/**
 * Consistent
 */
.plugbot-userlist h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.plugbot-userlist .head {
  margin: 16px;
}
.plugbot-userlist .head h1 {
  margin: 8px 0px;
  font-size: 15px;
  font-variant: small-caps;
}
.plugbot-userlist .wrap-users {
  position: absolute;
  top: 8px;
  right: 16px;
  bottom: 24px;
  left: 16px;
  border: 4px solid;
  border-radius: 4px;
  overflow: auto;
}
.plugbot-userlist .users {
  margin: 0;
  padding: 8px 16px;
  list-style-type: none;
}
.plugbot-userlist .users li {
  white-space: nowrap;
  margin: auto auto 8px;
}
.plugbot-userlist .users .item {
  cursor: pointer;
}
.plugbot-userlist .users .item-curated {
  color: #9966ff;
}
.plugbot-userlist .users .item-woot {
  color: lawngreen;
}
.plugbot-userlist .users .item-meh {
  color: red;
}
.plugbot-userlist .users .item-undecided {
  color: white;
}
