/**
 * Configuration
 */
/**
 * ex. with $size-fix-px = 10
 *		fixList(padding, 3)			=> padding: 30px
 *		fixList(padding, 3, 5)		=> padding: 30px 50px
 *		fixList(margin, 3, 5, 7)	=> margin: 30px 50px 70px
 *		fixList(margin, 3, 5, 7, 9)	=> margin: 30px 50px 70px 90px
 */
/**
 * ex. with $size-fix-px = 10
 *		fixSize(auto, 5) => height: 50px
 *		fixSize(3, auto) => width: 30px
 *		fixSize(3, 5) => width: 30px; height: 50px
 */
/**
 * Absolute positioning
 */
/**
 * Stretch horizontally
 */
/**
 * Stretch vertically
 */
/**
 * Stretch both directions
 */
/**
 * Reset Webkit margin
 */
/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Options
 */
/**
 * Consistent
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_taskbar\.scss}line{font-family:\0000313}}
.plugbot-taskbar {
  z-index: 100;
  position: fixed;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  top: 54px;
  height: 100%;
  background: #1c1f25;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_taskbar\.scss}line{font-family:\0000322}}
.plugbot-taskbar .content {
  float: left;
  width: 120px;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_taskbar\.scss}line{font-family:\0000328}}
.plugbot-taskbar .handle {
  float: left;
  width: 12px;
  height: 100%;
  background: #323742;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_taskbar\.scss}line{font-family:\0000335}}
.plugbot-taskbar .container {
  list-style-type: none;
  margin: 0px;
  padding: 16px 0px 0px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_taskbar\.scss}line{font-family:\0000340}}
.plugbot-taskbar .container .task {
  cursor: pointer;
  padding: 8px;
  font-size: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_taskbar\.scss}line{font-family:\0000348}}
.plugbot-taskbar-hidden {
  visibility: hidden;
}

/**
 * Mostly desaturated
 */
/**
 * Dark
 */
/**
 * Very dark
 */
/**
 * Bright
 */
/**
 * Vivid
 */
/**
 * Scheme names
 */
/**
 * Text - Floated window
 */
/**
 * Border - Floated window
 */
/**
 * Border - Userlist
 */
/**
 * Background - Floated window
 */
/**
 * Shadow - Floated window
 */
/**
 * Plug.DJ fonts
 */
/**
 * Dynamic
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\000039}}
.scheme-default-plugbot-floated-window {
  background-color: #0a0a0a;
  border-color: #323742 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000313}}
.scheme-default-plugbot-floated-window .header {
  color: white;
  background-color: #323742;
  border-bottom-color: #7878a5 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000319}}
.scheme-default-plugbot-floated-window .body {
  border-color: #8f8f8f #292929 !important;
}

/**
 * Consistent
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000329}}
.plugbot-floated-window {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  border: 4px solid;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000335}}
.plugbot-floated-window .header {
  overflow: hidden;
  padding: 2.4px 8px;
  border-bottom: 1px solid;
  white-space: nowrap;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000344}}
.plugbot-floated-window .title {
  float: left;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000351}}
.plugbot-floated-window .control-box {
  float: right;
  margin-left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000355}}
.plugbot-floated-window .control-box button {
  width: 1.6em;
  height: 1.2em;
  margin-left: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000362}}
.plugbot-floated-window .body {
  border: 2px solid;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_floated-window\.scss}line{font-family:\0000368}}
.plugbot-floated-window-hidden {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_table-layout\.scss}line{font-family:\000032}}
.plugbot-table-layout > div {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_table-layout\.scss}line{font-family:\0000314}}
.plugbot-table-layout > .row {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/common\/_table-layout\.scss}line{font-family:\0000322}}
.plugbot-table-layout > .col {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_main-ui\.scss}line{font-family:\000031}}
.plugbot-ui {
  padding: 8px 8px 16px 8px;
  background: #0a0a0a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_main-ui\.scss}line{font-family:\000035}}
.plugbot-ui p {
  margin: 0px;
  padding: 8px;
  cursor: pointer;
  font-variant: small-caps;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_main-ui\.scss}line{font-family:\0000315}}
.plugbot-ui .item-enabled {
  color: lawngreen;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_main-ui\.scss}line{font-family:\0000319}}
.plugbot-ui .item-disabled {
  color: red;
}

/**
 * Dynamic
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\000036}}
.scheme-default-plugbot-userlist .head {
  color: #42a6dc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000310}}
.scheme-default-plugbot-userlist .wrap-list {
  border-color: #292929 !important;
}

/**
 * Consistent
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000320}}
.plugbot-userlist h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000324}}
.plugbot-userlist .head {
  margin: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000327}}
.plugbot-userlist .head h1 {
  margin: 8px 0px;
  font-size: 15px;
  font-variant: small-caps;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000334}}
.plugbot-userlist .wrap-list {
  position: absolute;
  top: 8px;
  right: 16px;
  bottom: 24px;
  left: 16px;
  border: 4px solid;
  border-radius: 4px;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000341}}
.plugbot-userlist .list {
  margin: 0;
  padding: 8px 16px;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000346}}
.plugbot-userlist .list li {
  white-space: nowrap;
  margin: auto auto 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000351}}
.plugbot-userlist .list .userlist-item {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000355}}
.plugbot-userlist .list .item-woot {
  color: lawngreen;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000359}}
.plugbot-userlist .list .item-meh {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Ebola\/Documents\/GitHub\/Plugbot-Enhanced-by-Ebola\/sass\/partials\/plugbot\/_userlist\.scss}line{font-family:\0000363}}
.plugbot-userlist .list .item-undecided {
  color: white;
}
