/**
 * Mostly desaturated
 */
$md-dark-blue: hsl(240, 20%, 56%);
/**
 * Dark
 */
$dark-gray: hsl(0, 0%, 56%);
/**
 * Very dark
 */
$v-dark-gray: hsl(0, 0%, 4%);
$v-dark-gray2: hsl(0, 0%, 16%);
$v-dark-gray3: hsl(0, 0%, 26.7%);
$v-dark-grayish-blue: hsl(221, 13.8%, 22.7%);
$v-dark-grayish-blue2: hsl(222, 14%, 18.2%);
// mb: mostly black
$v-dark-mb-blue: hsl(220, 13.8%, 12.7%);
/**
 * Bright
 */
$bright-blue: hsl(201, 68.8%, 56%);
/**
 * Vivid
 */
$vivid-yellow: hsl(71, 77.7%, 50.8%);
/**
 * Light
 */
$light-violet: hsl(260, 100%, 70%);
