@import "colors";

/**
 * Scheme names
 */
$schemes: (default);

/**
 * Text - Floated window
 */
$color-header: (
	white
);
$color-title: (
	$bright-blue
);

/**
 * Border - Floated window
 */
$color-border-bottom-header: (
	$md-dark-blue
);
$color-border-window: (
	$v-dark-grayish-blue
);
$color-border-body: (
	$v-dark-gray2
);
$color-border-horizontal-body: (
	$dark-gray
);

/**
 * Border - Userlist
 */
$color-border-users: (
	$v-dark-gray2
);

/**
 * Background - Floated window
 */
$color-background-header: (
	$v-dark-grayish-blue
);
$color-background-window: (
	$v-dark-gray
);

/**
 * Shadow - Floated window
 */
$shadow-window: (
	$v-dark-gray
);
