/**
 * ex. with $size-fix-px = 10
 *    fixList(padding, 3)			=> padding: 30px
 *    fixList(padding, 3, 5)		=> padding: 30px 50px
 *    fixList(margin, 3, 5, 7)		=> margin: 30px 50px 70px
 *    fixList(margin, 3, 5, 7, 9)	=> margin: 30px 50px 70px 90px
 */
@mixin fixList($css, $top: null, $right: null, $bottom: null, $left: null) {
	#{$css}: getFixList($top, $right, $bottom, $left);
}

/**
 * ex. with $size-fix-px = 10
 *    fixSize(auto, 5)	=> height: 50px
 *    fixSize(3, auto)	=> width: 30px
 *    fixSize(3, 5)		=> width: 30px; height: 50px
 */
@mixin fixSize($width: auto, $height: auto) {
	@if auto != $width { width: getFixPx($width); }
	@if auto != $height { height: getFixPx($height); }
}

/**
 * Absolute positioning
 */
@mixin absPos($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	@if auto != $top { top: getFixPx($top); }
	@if auto != $right { right: getFixPx($right); }
	@if auto != $bottom { bottom: getFixPx($bottom); }
	@if auto != $left { left: getFixPx($left); }
}

/**
 * Stretch horizontally
 */
@mixin stretchHorizontal {
	left: 0;
	right: 0;
}

/**
 * Stretch vertically
 */
@mixin stretchVertical {
	top: 0;
	bottom: 0;
}

/**
 * Stretch both directions
 */
@mixin stretchBoth {
	@include stretchHorizontal;
	@include stretchVertical;
}

/**
 * Reset Webkit margin
 */
@mixin resetWebkitMargin {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
